<h1 class="white-text h-block text-center m-title">{{title}}</h1>

<p class="white-text text-center mb-timer-text">{{description}}</p>

<div id="iteration-timer-pomodoro" class="iteration-timer-pomodoro"></div>

<div id="block-circle" class="block-circle white-text mb-timer"></div>
