<div class="notification">
    <div class="flex-notification-icon">
        <div class="for-icon"><span id="icon-notification" class="white-text"></span></div>
    </div>
    <div class="message">
        <div class="ml-message white-text">
            <p>This is just an info notification message!</p>
        </div>
        <div class="notification-close">
            <div class="white-text">
                <span id="close-notification" class="icon-close fs-icon-close"></span>
            </div>
        </div>
    </div>
</div>
