<h1 class="header white-text settings-title">Settings</h1>
<h3 class="pomodoros-list-header">Pomodoros settings</h3>
<ul id="pomodoro-settings-list" class="pomodoros-list"></ul>
<div class="my-cycle">
    <h2 class="text-center white-text mb_cycle_text">Your cycle</h2>
    <div id="pomodoro-settings-cycle"></div>
</div>
