<div class="none">
    <h2 class="h-inline white-text">Report</h2>
</div>
<div id="report"></div>

<ul class="list-level">
    <li class="h-inline li-square square-urgent">Urgent</li>
    <li class="h-inline li-square square-high">High</li>
    <li class="h-inline li-square square-middle">Middle</li>
    <li class="h-inline li-square square-low">Low</li>
    <li class="h-inline li-square square-failed">Failed</li>
</ul>
