<div id="text-for-cycle" class="text-for-cycle"></div>
<div id="flex-graph" class="flex-graph"></div>
<div class="flex-number-bottom">
    <p class="default-color marker">0m</p>
    <p class="default-color marker">30m</p>
    <p class="default-color marker">1h</p>
    <p class="default-color marker">1h 30m</p>
    <p class="default-color marker">2h</p>
    <p class="default-color marker">2h 30m</p>
    <p class="default-color marker">3h</p>
    <p class="default-color marker">3h 30m</p>
    <p class="default-color marker">4h</p>
    <p class="default-color marker">4h 30m</p>
    <p class="default-color marker">5h</p>
    <p class="default-color marker">5h 30m</p>
</div>