<div class="progress-band">
    <div class='hold left'>
        <div class='fill_left fill_background'></div>
    </div>
    <div class="timer_text"></div>
    <div class='hold right'>
        <div class='fill_right fill_background'></div>
    </div>
</div>

