{{#if timerLeftArrow}}
    <div class="navigation-arrow-left">
        <span title="Go to Global List" class="icon-arrow-left default-color fs-arrow"></span>
    </div>
{{/if}}

{{#if timerRightArrow}}
    <div class="navigation-arrow-right">
        <span title="Go to Report" class="icon-arrow-right default-color fs-arrow"></span>
    </div>
{{/if}}

{{#if reportArrowLeft}}
    <div class="navigation-arrow-left-spec">
        <span title="Go to Global List" class="icon-arrow-left default-color fs-arrow"></span>
    </div>
{{/if}}
